body {
  margin: 20px;
  text-align: center;
  align-content: center;
  flex: auto;
}

form {
  width: auto;
  padding: 1.5em;
  border: .05em solid grey;
  display: inline-block;
  text-align: left;
  float: center;
}
